<ion-content [fullscreen]="true" class="ion-padding login-page">
  <h1 class="ion-text-center login-page__title">MyApp Name</h1>

  <h2 class="ion-text-center login-page__subtitle">
    Welcome back, sign into your account
  </h2>

  <form [formGroup]="authForm" class="login-page__auth-form">
    <ion-item fill="outline" class="login-page__auth-item">
      <ion-label position="floating" class="login-page__auth-item__label"
        >Email</ion-label
      >
      <ion-input
        type="email"
        placeholder="Your email address"
        clearInput="true"
        formControlName="email"
        class="login-page__auth-item__input"
      ></ion-input>
      <ion-note slot="helper"> Please enter your email.</ion-note>
      <ion-note slot="error" class="login-page__auth-item__error-note"
        >You must enter a valid email.</ion-note
      >
    </ion-item>

    <ion-item fill="outline" class="login-page__auth-item">
      <ion-label position="floating" class="login-page__auth-item__label"
        >Password</ion-label
      >
      <ion-input
        type="password"
        placeholder="Password"
        clearInput="true"
        formControlName="password"
        class="login-page__auth-item__input"
      ></ion-input>
      <ion-note slot="helper"> Please enter your password.</ion-note>
      <ion-note slot="error" class="login-page__auth-item__error-note"
        >Your password needs to be at least 6 characters long.</ion-note
      >
    </ion-item>

    <ion-button
      class="login-page__login-button"
      (click)="login(authForm.value)"
      strong="true"
      expand="block"
      >Sign In</ion-button
    >
  </form>

  <ion-button
    class="login-page__reset-button"
    expand="block"
    fill="clear"
    routerLink="/user/reset"
  >
    Forgot Password
  </ion-button>

  <ion-button
    class="login-page__signup-button"
    expand="block"
    fill="clear"
    routerLink="/user/signup"
  >
    Create a new account
  </ion-button>

  <p class="ion-text-end">or continue with:</p>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" fill="outline">
          <ion-icon name="logo-apple"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" fill="outline">
          <ion-icon name="logo-google"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" fill="outline">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
